/*  ==========================================================================
    Flatapp - Table of Contets
    ==========================================================================
    
    1.0 Header
    2.0 Hero Section
    3.0 Promo Section
    4.0 Documentation Section
    5.0 Feature Section
    6.0 Pricing
    7.0 Download Section
    8.0 Blog
    9.0 Subscribe Section
    10.0 Footer
    11.0 Scroll To Top
    
    ==========================================================================
    Flatapp v1.0
    ========================================================================== */

/* ==========================================================================
   1.0 Header
   ========================================================================== */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.2s ease 0s;
}
.fixed-top.header{
    padding: 5px 0;
	border-bottom: 1px solid #ddd;
    transition: all 0.2s ease 0s;
}
.fixed-top.transparent-header{
	background-color: #fff;
}
.transparent-header ul.nav > li > a{
	color: #111;
	opacity: 0.6;
}
.transparent-header ul.nav > li > a:focus,
.transparent-header ul.nav > li > a:hover,
.transparent-header ul.nav > li.active > a{
	color: #111;
	opacity: 1;
}
.fixed-top.transparent-header ul.nav > li > a{
	color: #333;
	opacity: 0.6;
}
.fixed-top.transparent-header ul.nav > li > a:focus,
.fixed-top.transparent-header ul.nav > li > a:hover,
.fixed-top.transparent-header ul.nav > li.active > a{
	color: #333;
	opacity: 1;
}
.navbar{
    border: medium none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin: 0;
    position: relative;
}
.navbar-header{
    padding: 12px 0;
}
.navbar-header .brand{
	font-size: 25px;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: -1px;
	font-weight: 700;
}
.nav-btn {
	background-color: transparent;
	font-size: 22px;
    margin: 3px 0 0 15px;
	padding: 10px;
	border-radius: 1px;
	color: #777;
}
.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

/* Nav Menu */
ul.nav{}
ul.nav > li{}
ul.nav > li > a{
	color: #777;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 400;
}
ul.nav > li > a:focus,
ul.nav > li > a:hover,
ul.nav > li.active > a{
    background: none;
    color: #333;
}

/* ==========================================================================
   2.0 Hero Section
   ========================================================================== */
.hero-section{}
.app-mockup-2{
    background-image: url(../img/hero-moc-2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 400px;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 190px;
}

/* ==========================================================================
   3.0 Promo Section
   ========================================================================== */
.icon-wrap{
    margin: 0 auto;
    position: relative;
    border: 1px solid #fff;
}
.icon-wrap span{
    font-family: 'LANENAR', sans-serif;
    display: block;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #FFF;
    color: #111;
    line-height: 25px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.box-hover{
    transition: all 0.5s ease-in-out;
}

/* ==========================================================================
   4.0 Documentation Section
   ========================================================================== */
.doc-section{}
.doc-mockup .doc-mockup-1{
    width: 50%;
    z-index: -1;
}
.doc-mockup .doc-mockup-2{
    width: 40%;
    position: absolute;
    left: 140px;
    bottom: 0;
}

/* ==========================================================================
   5.0 Feature Section
   ========================================================================== */
.feature-moc{
    width: 100%;
}
.feature-list .list-item i{
    font-size: 32px;
    margin-bottom: 15px;
}

/* ==========================================================================
   6.0 Pricing
   ========================================================================== */
.pricing-head{}
.pricing-list{}
.pricing-list li{
    display: block;
    margin-bottom: 10px;
    display: inline-block;
    padding: 0 30px 10px 30px;
    position: relative;
}
.pricing-list li:last-child{
    margin: 0;
}
.pricing-list li:before{
    background-color: transparent;
    color: #FD7E57;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-family: 'themify';
    content: "\e64c";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 3px;
}
.mid .pricing-list li:before{
    color: #fff;
}
.pricing-box.mid{
    background-color: #FD7E57;  
    transition: 0.3s ease-in-out
}

.pricing-head i{
    font-size: 32px;
}


/* ==========================================================================
    7.0 Download Section
   ========================================================================== */
.download-section{
    z-index: 1;
}
.download-mock-up{
    background-image: url(../img/phone-4.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 700px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50px;
    right: 0;
    z-index: -1;
}

/* ==========================================================================
   8.0 Blog
   ========================================================================== */

.article-box{
	padding-bottom: 5px;
}
.entry-content-top {
    position: relative;
}
.entry-content-top .comment{
    position: relative;
}
.entry-content-top .comment:before{
    background-color: #111;
    position: absolute; 
    content: '';
    height: 4px;
    width: 4px;
    border-radius: 50%;
    left: -16px;
    bottom: 10px;
}
.entry-content-top:before{
    background-color: #ddd;
    position: absolute; 
    content: '';
    height: 1px;
    width: 300px;
    left: 0;
    bottom: 10px;
}
.read-more{
    color: #333;
}
.read-more:hover{
    text-decoration: underline;
    opacity: 1;
    color: #333;
}

/* ==========================================================================
   9.0 Subscribe Section
   ========================================================================== */
.subscribe-box{}
.subscribe-form{}
.subscribe-form .email-field{
    display: inline-block;
	background-color: #fff;
	border: none;
	color: #444;
	font-size: 12px;
	line-height: 46px;
	padding: 0 15px;
	width: 60%;
}
.subscribe-form .b-btn{
    width: 20%;
}
.subscribe-form .email-field.fs-input-error{
    border: 1px solid red;
}

/* ==========================================================================
   10.0 Footer
   ========================================================================== */
.footer-social{}
.footer-social li{
    display: inline-block;
    margin-left: 10px;
}
.footer-social li a{
    font-size: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #FD7E57;
    color: #FD7E57;
    display: inline-block;
    text-align: center;
    line-height: 28px;
}
.footer-social li a:hover{
    text-decoration: none;
    background-color: #FD7E57;
    color: #fff;
}


/* ==========================================================================
   11.0 Scroll To Top
   ========================================================================== */
.scroll-to-top{
	display: block;
	text-align: center;
	background-color: #FD7E57;
	font-size: 12px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	border-radius: 50%;
	position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
}
.scroll-to-top:hover{
    color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	text-decoration: none;
}